---
import PortfolioCard from '../components/PortfolioCard.astro';
import Layout from '../layouts/Layout.astro';

const skills = [
	'Photoshop',
	'Illustrator',
	'Corel Draw',
	'Cap Cut',
	'Premiere',
	'canva'
];

const portfolio = [
	{
		title: 'Storys',
		img: '/img/work1.jpg',
		link: 'https://drive.google.com/drive/folders/1-K5JOYKn6Akrxm_psUHGA9htGXMlkTns?usp=drive_link'
	},
	{
		title: 'Laminas - Promo',
		img: '/img/work2.jpg',
		link: 'https://drive.google.com/drive/folders/1jck4zW38Wvy5xwE31hZsauxBKvymMyIp?usp=drive_link'
	},
	{
		title: 'Laminas - Calzados',
		img: '/img/work3.jpg',
		link: 'https://drive.google.com/drive/folders/1Twr8x98iYRD97hN6F1EhvafdJ4qGSBtX?usp=drive_link'
	},
	{
		title: 'Feed RRSS',
		img: '/img/work4.jpg',
		link: 'https://drive.google.com/drive/folders/1eswXe69X12eWuxeeL2vL3OYFsB8iZfla?usp=drive_link'
	},
	{
		title: 'Ediciones',
		img: '/img/work5.jpg',
		link: 'https://drive.google.com/drive/folders/1i7hoigyl0Z9QABSuG2AvxePRiPKOF2H1?usp=sharing'
	},
	{
		title: 'Carteles',
		img: '/img/work6.jpg',
		link: 'https://drive.google.com/drive/folders/1tS_QW3292C97E-iCzuS7KXAFERTEXCSv?usp=sharing'
	}
];

---

<Layout title="Portafolio - Andrea Aguayo">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>HO</span><br>LA.</h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Desliza Abajo</a>
                    </div>

                    <img src="/img/perfil.png" alt="" class="home__img">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">Sobre</h2>

                <div class="about__container bd-grid">
                    <div class="abouts__img">
                        <img src="/img/foto.jpg" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">Hola soy <br> Andrea Aguayo</h2>
                        <span class="about__profession">Diseñadora grafica</span>
                        <p class="about__text">Soy la encargada de representar gráficamente tus ideas de la forma más creativa en diseños digitales, logos, flyers, banners, publicidades o propagandas según tu finalidad.</p>

                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Conocimientos</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        <h3 class="skills__subtitle">Diseño grafico</h3>
						{
							skills.map((skill, index) => (
								<span class="skills__name">{skill}</span>
							))
						}
                        
                    </div>

                    <div class="skills__img">
                        <img src="/img/skill.jpg" alt="">
                    </div>
                </div>
            </section>

            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Portafolio</h2>

                <div class="portfolio__container bd-grid">
          
                    {
                        portfolio.map(
                            (project, index) => (
                                <PortfolioCard title={project.title} image={project.img} link={project.link} />
                            )
                        )
                    }
                </div>
                <a class="section-vermas" href="https://drive.google.com/drive/folders/1dwcr2mAqA4MoitC7Pxim1Vpf-5qeakp1?usp=sharing" target="_blank">Ver más proyectos</a>
            </section>

</Layout>

